@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/mixins";
@import "/src/assets/scss/navbar.scss";
@import "/src/assets/scss/students.scss";
@import "/src/assets/scss/commentmodal.scss";
@import "/src/assets/scss/homepage.scss";
@import "/src/assets/scss/teachercalendar.scss";
@import "/src/assets/scss/teacherpage.scss";
@import "/src/assets/scss/studentsrank.scss";


.d-flex{
    display:flex;
}
body{
    background-color: white;
    font-family: "Inter", sans-serif;
}
.bg-light {
    background-color: transparent !important;
}