
.apply-teacher-context{
    .mt-10px{
        margin-top: 10px;
    }
}
.txt-is-invalid{
    color: #e66772;
}
/* 480px 以下的樣式 */
@media screen and (max-width: 480px) {
    .items-center{
        align-items: center;
    }
    .justify-space-between{
        justify-content: space-between;
    }
    .apply-teacher-context{
        padding-right:28px;
        padding-left:28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .apply-mb-title{
        font-size: 1.8rem;
        font-weight: 700;
        }

        .clearout{
            display: none;

        }
    }
    .applyContainer {
        margin-bottom: 27px;
        width:100%;
        .icon-circle{
            width: 20px;
            border-radius: 10px;
            text-align: center;
            background-color: #3652E3;
            color: white;
            font-size: 12px;
            margin-right: 23px;
        }
        .process-bar{
            width: 100%;
            color:#3652E3;
            background-color:white;
            text-align: center;
            padding:5px 15px;
            border-radius: 10px;
            border: 1px solid #3652E3;
            
        }
        .process-line{
            position: relative;
            margin-bottom: 30px;
        }
        .process-line::before{
            content: "";
            text-align: center;
            height: 30px;
            width:10px;
            border-right: 1px #D9D9D9 solid;
            position: absolute;
            top: 30px;
        }
        .process-line-end{
            position: relative;
        }
        .left-container{
            padding: 20px 20px 40px 20px;
            box-shadow: 0px 4px 4px rgba(54, 82, 227, 0.25);
            width: 100%;
            border-radius: 0.625rem;
            .text-center{
                .title{
                    font-size: 1.2rem;
                }
            }
        }
        
        .applyForm{
        display: none;
        }
  
    }
    //apply form mobile
    .mb-start-container{
            width: 100%;
        .mb-startbutton {
            width: 100%;
            height: 2.5rem;
            border-radius: 0.625rem;
            background-color: var(--main-blue);
        }
        .text{
            color: var(--white);
            font-weight: 700;
            text-decoration: none;
        }
        }
         .apply-mobile-container {
            height: 100%;
            min-height:38rem;
            padding: 1rem 1rem 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
                 .title {
                     font-weight: 700;
                     font-size: 1.125rem;
                 }
    
                 .category-container {
                     flex-wrap: wrap;
                     margin-bottom: 1.5rem;
    
                     .category-item {
                         margin-right: 0.5rem;
    
                         label {
                             .form-check-input {
                                 margin-top: 0.1rem;
                                 width: 1.25rem;
                                 height: 1.25rem;
                                 margin-right: 0.5rem;
                                 border: 0.15rem solid var(--main-blue);
                             }
                         }
                     }
    
                     .time-text {
                         font-size: 0.85rem;
                     }
                 }
    
                 .form-control {
                     border-color: var(--main-blue25);
                     border-radius: 0.625rem;
                 }
    
                 .ReactFlagsSelect-module_selectBtn__19wW7,
                 .ReactFlagsSelect-module_selectOptions__3LNBJ {
                     border-color: var(--main-blue25);
                     border-radius: 0.625rem;
    
                     input {
                         border-color: var(--main-blue25);
                         border-radius: 0.625rem;
                     }
                 }
             }
    
             .button-list {
                display: flex;
                align-items: end;
                 .btn-previous,
                 .btn-next,
                 .btn-finish {
                     font-weight: 700;
                     border-radius: 0.625rem;
                     font-size: 0.85rem;
                    width: 5rem;
                 }
    
                 .btn-next,
                 .btn-finish {
                     background-color: var(--main-blue);
                    color: white;
                 }
    
                 .btn-previous {
                     background-color: var(--white);
                     color: var(--main-blue);
                     border: 0.0625rem solid var(--main-blue);
                 }
    
                 .disabled {
                     background-color: var(--grey-300);
                     color: var(--white);
                     border: none;
                 }
             }
         }
  
  /* 480px 到 1080px 之間的樣式 */
  @media screen and (min-width: 481px) and (max-width: 1080px) {
    .items-center{
        align-items: center;
    }
    .justify-space-between{
        justify-content: space-between;
    }
    .apply-teacher-context{
        padding-right:28px;
        padding-left:28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .clearout{
            display: none;
        }
    }
    .applyContainer {
        margin-bottom: 27px;
        width:100%;
        min-height: 45rem;
        .icon-circle{
            width: 20px;
            border-radius: 10px;
            text-align: center;
            background-color: #3652E3;
            color: white;
            font-size: 12px;
            margin-right: 23px;
        }
        .process-bar{
            width: 100%;
            color:#3652E3;
            background-color:white;
            text-align: center;
            padding:5px 15px;
            border-radius: 10px;
            border: 1px solid #3652E3;
            
        }
        .process-line{
            position: relative;
            margin-bottom: 30px;
        }
        .process-line::before{
            content: "";
            text-align: center;
            height: 30px;
            width:10px;
            border-right: 1px #D9D9D9 solid;
            position: absolute;
            top: 30px;
        }
        .process-line-end{
            position: relative;
        }
            .left-container{
                padding: 15px;
                min-height: 500px;
                box-shadow: 0px 4px 4px rgba(54, 82, 227, 0.25);
                width:30%;
                border-radius: 0.625rem;
            }
        .applyForm{
            min-height: 500px;
            display:flex;
            flex-direction: column;
        }
  
    }
  }
  
  /* 1080px 以上的樣式 */
  @media screen and (min-width: 1081px) {
    .apply-teacher-context{

        .items-center{
            align-items: center;
        }
        .justify-space-between{
            justify-content: space-between;
        }
        .mr-10px{
            margin-right: 10px;
        }
        .mb-10px{
             margin-bottom: 10px;
        }
        .mb-22px{
            margin-bottom: 22px;
        }
        .title{
            font-size: 20px;
            font-weight: 500;
        }
        .display-none-latop{
            display:none;
        }
        .applyContainer {
            padding: 0 2.5rem 2.5rem 2.5rem;
            min-height: 45rem;
            .icon-circle{
                width: 20px;
                height: 20px;
                border-radius: 10px;
                text-align: center;
                background-color: #3652E3;
                color: white;
                font-size: 12px;
            }
            .process-bar{
                width: 100%;
                color:#3652E3;
                background-color:white;
                text-align: center;
                padding:5px 15px;
                border-radius: 10px;
                border: 1px solid #3652E3;
            }
            .active{
                color:white;
                background-color:#3652E3;
                border-radius: 10px;
            }
            .process-line{
                position: relative;
            }
            .process-line::before{
                content: "";
                text-align: center;
                height: 30px;
                width:10px;
                border-right: 1px #D9D9D9 solid;
                position: absolute;
                top: 30px;
            }
            .process-line-end{
                position: relative;
            }
            .left-container{
                padding: 15px;
                box-shadow: 0px 4px 4px rgba(54, 82, 227, 0.25);
                border-radius: 0.625rem;
                width: 30%;
            }
            .right-container{
                padding: 0rem 2rem;
                position: relative;
                width: 70%;
            }
            .applyForm{
                display:flex;
                flex-direction: column;
                height: 100%;
            }
            .button-list{
                width:100%;
                display:flex;
                // position: absolute;
                // bottom: 0px;
                // right: 20px;
            }
        }
    }
  }

  .left-container{
    
    .title{
    font-weight: 700;
    }
    .process-shower{
        font-weight: 700;
    }
  }

  .right-container{
    .applyForm{
        justify-content: space-between;
        .form-container{
            flex-direction: column;
        }
        .title{
            font-weight: 700;
            font-size: 1.125rem;
        }
        .category-container{
            flex-wrap: wrap;
            margin-bottom: 1.5rem;
            .category-item{
                margin-right: 0.5rem;
                label{
                    .form-check-input{
                        margin-top: 0.1rem;
                        width: 1.25rem;
                        height: 1.25rem;
                        margin-right: 0.5rem;
                        border:0.15rem solid var(--main-blue);
                    }
                }
            }
            .time-text{
                font-size: 0.85rem;
            }
        }
        .form-control{
            border-color: var(--main-blue25);
            border-radius: 0.625rem;
        }
         .ReactFlagsSelect-module_selectBtn__19wW7,
         .ReactFlagsSelect-module_selectOptions__3LNBJ{
         border-color: var(--main-blue25);
            border-radius: 0.625rem;    
            input{
            border-color: var(--main-blue25);
            border-radius: 0.625rem;
            }
        }
    }
    .button-list{
        .btn-previous,
        .btn-next,
        .btn-finish{
            font-weight: 700;
            border-radius: 0.625rem;
            font-size: 0.85rem;
            width: 5.2rem;
        }
        .btn-next,
        .btn-finish{
        background-color: var(--main-blue);
        color: white;
        }
        .btn-previous{
            background-color: var(--white);
            color:var(--main-blue);
            border: 0.0625rem solid var(--main-blue);
        }
        .disabled{
            background-color: var(--grey-300);
            color: var(--white);
            border: none;
        }
    }
  }