.modal-container {
  display: flex;
  &-left {
    display: flex;
    flex-direction: column;
    .modal-comment-counts {
      .modal-comment-title{
        font-size: 1.2rem;
        font-weight: 700;
      }
      .modal-comment-count{
        .modal-comment-count-item {
            .percentimg {
              .progressbar {
                display: flex;
            }
      
          }
 
        }
      }
    }
  }

  &-right {
    .modal-comment-detail{
      width: 40rem;
      margin: 2rem 0 2rem 0;
      .class-comment-info-card{
        margin:1.2rem 0 1rem 1rem;
        min-height: 10rem;
          box-shadow: 0px 3px 2px 1px var(--main-blue);
          -webkit-box-shadow: 0px 3px 5px 1px var(--grey-light);
          -moz-box-shadow: 1px 3px 5px 1px var(--grey-light);
          -o-box-shadow: 0px 3px 5px 1px var(--grey-light);
          border-radius: 0.625rem;
          .class-comment-info-card-body{
            .card-container{
              display: flex;
              .card-img{
                width: 3rem;
                height: 2rem;
                .class-comment{
                  border-radius: 50%;
                  width: 2rem;
                  height: 2rem;
                }
              }
              .card-title{
                margin-top: -0.1rem;
                .card-title-name{
                  font-size: 1.2rem;
                  font-weight: 700;
                }
                .card-title-startat{
                  font-size: 0.7rem;
                   font-weight: 500;
                   margin-top: -0.2rem;
                }
                }
            }
          }
      }
    }
  }
}