@media screen and (max-width:480px){
.course-page-container {
    margin: 1.5rem;

    .coures-week-item {
        min-height: 4rem;
    
        .calender_block {
          min-height: 4rem;
        }
      }
    
  }
}

@media screen and (min-width:481px) and (max-width:1080px) {
  .course-page-container {
    margin: 2rem;
  }
}

@media screen and (min-width:1081px) {
  .course-page-container {
    margin: 2rem;

    .calender-table {
    
        .coures-week-item {
          min-height: 7.5rem;
    
          .calender_block {
            min-height: 7.5rem;
          }
        }
    
      }
  }
}

.course-page-container{

.course-calendar-title {
  .course-calendar-year {

  }
}

.course-state{
  flex-direction: row-reverse;
    .circle-icon-finished {
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        background-color: var(--main-blue25);
      }
    
      .circle-icon-notattended {
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        background-color: var(--pink);
      }
    
      .circle-icon-reserved {
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        background-color: var(--main-blue);
      }

}


}
  