@media screen and (max-width: 480px){

      .course-title {
          display: none;
      
      .title {
            font-weight: 700;
            font-size: 1.125rem;
          }
        }


        .calender-table {
          width: 100%;
          .calender_block{
            border: 1px solid var(--main-blue25);
            text-align: end;
            padding:0.3rem;
          }
        }


      .teacher-course-block{
        height: 0.5rem;
        .title-bar-subject,
        .title-bar-student,
        .title-bar-time,
        .title-bar-subject-reserve,
        .title-bar-student-reserve,
        .title-bar-time-reserve{
          display: none;
        }
      }

                            .course-info {
                              margin-top: 1rem;
              
                              .course-info-header {
                                font-weight: 700;
                                font-size: 1.25rem;
              
                              }
              
                              .course-info-content {
                                .course-info-item {
                                  padding: 0.6rem;
                                  height: 6rem;
                                  border-radius: 0.3125rem;
                                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                  align-items: center;
                                  border: 1px solid var(--main-blue25);
                                 margin-top: 1rem;
                                  .progress-line {
                                    width: 0.5rem;
                                    height: 80%;
                                    border-radius: 0.3125rem;
                                    margin: 0 1.5rem;
              
                                    &.not-comment {
                                      background-color: transparent;
                                      border: 1px solid var(--main-blue);
                                    }
              
                                    &.not-attend {
                                      background-color: var(--main-blue);
                                    }
              
                                    &.finished {
                                      background-color: var(--main-blue25);
                                      border: 1px solid var(--main-blue);
                                    }
                                  }
                                }
              
                              }
                            }
  
}

@media screen and (min-width: 481px) and (max-width: 1080px) {

      .course-title {
          margin-bottom: 2rem;
      
          .title {
            font-weight: 700;
            font-size: 1.125rem;
          }
        }

              .course-block{
        .title-bar-subject{

        }
        .title-bar-student{

        }
        .title-bar-time{
        }
      }
       .course-info {
          display: none;
     }
}

@media screen and (min-width: 1081px) {

      .course-title {
          margin-bottom: 2rem;
      
          .title {
            font-weight: 700;
            font-size: 1.125rem;
          }
        }
        .block-week {
           font-size: 1.25rem !important;
           }
                .course-info {
                  display: none;
                }

}

.course-page-container{
  .course-calendar-title{
    
    .course-title{
      margin-bottom: 2rem;
    .title{
     font-weight: 700;
     font-size: 1.125rem;
    }
    }
  }
  .date-selector{
    justify-content: space-between;
  .course-date-selector {
      justify-content: space-between;
  
      .years-selection {
        font-family: 'Inter', sans-serif;
        border: none;
        color: var(--main-blue);
        font-weight: 700;
        position: relative;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        option {
          font-weight: 700;
          font-size: 0.875rem;
          max-width: 7rem;
          background-color: var(--white);
        }
        
      }
  
    }
  
    .course-calendar-year {
      align-items: center;
  
      .text-primary {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
      }
    }
  }

  .course-state{
    .course-state-item{
      margin-right: 0.5rem;
    }
  }
  .course-body{
    .block-week{
      background-color: var(--main-blue);
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: 700;
      height: 3rem;
      display: flex;
    }
  }

      .teacher-course-block{
        padding:0.2rem;
        border-radius: 0.3125rem;
        .title-bar-subject{
          background-color: rgba(255, 255, 255, 0.7);  
          color: black;
          width: 100%;
          text-align: center;
          border-radius: 0.1875rem;
          font-size: 0.875rem;
          margin-bottom: 0.3125rem;
        }
        .title-bar-student{
          font-size: 0.75rem;
          color: black;
          text-align: center;
        }
        .title-bar-time{
          font-size: 0.75rem;
          
          color: black;
          text-align: center;
        }
        .title-bar-subject-reserve{
            background-color: var(--main-blue25);
            color: black;
            width: 100%;
            text-align: center;
            border-radius: 0.1875rem;
            font-size: 0.875rem;
            margin-bottom: 0.3125rem;
        }
        .title-bar-student-reserve{
          font-size: 0.75rem;
          color: var(--white);
          text-align: center;
        }
        .title-bar-time-reserve{
          font-size: 0.75rem;
          color: var(--white);
          text-align: center;
        }
        
      }
    .bg-finish {
        background-color: var(--main-blue25);
        border:0.0625rem solid var(--main-blue);
          }
    .bg-reserve{
        background-color: var(--main-blue);
          }
          .bg-deep{
            flex:1 0 0%;
            background-color: var(--grey-light);
          }

}