.show-put-modal{
  .modal-body{
    height: 15rem;
    .timepicker-container{
      margin-top: 0.5rem;
    }
    .react-datetime-picker__wrapper{
              border: 1px solid var(--grey-light);
                height: 2.5rem;
                border-radius: 0.625rem;
                padding: 0 0.5rem;
          .react-datetime-picker__clock,
          .react-datetime-picker__calendar-button {
              display: none;
            }
    }


    .btn-container{
      margin-top: 1.5rem;
      justify-content: space-around;
      .btn-cancel{
        border: 1px solid var(--main-blue);
        color: var(--main-blue);
        width: 45%;
        border-radius: 0.625rem;
      }
      .btn-submit{
        background-color: var(--main-blue);
        width: 45%;
        border-radius: 0.625rem;
      }
    }
  }
}