
.div-container__home{
 margin: 0 3.375rem 0 3.375rem;
  .category-buttons{
    width:100%;
    .category-buttons-item{
      font-weight: 900;
      width: 6rem;
      height: 2.25rem;
      padding:5px;
      margin: 5px;
      border:none;
      color: #B6B6B6;

    box-shadow: 1px 3px 5px 1px #B6B6B6;
    -webkit-box-shadow: 1px 3px 5px 1px #B6B6B6;
    -moz-box-shadow: 1px 3px 5px 1px #B6B6B6;
    -o-box-shadow: 1px 3px 5px 1px #B6B6B6;
      :hover{
      
      }
      
    }
  }
}

.div-container__info{
  margin-top: 2rem;
  margin-right:-1.2rem;
  margin-bottom: -0.5rem;
  .card{
    width: 17rem;
    height: 17.14rem;
    box-shadow: 1px 3px 5px 1px #B6B6B6;
    -webkit-box-shadow: 1px 3px 5px 1px #B6B6B6;
    -moz-box-shadow: 1px 3px 5px 1px #B6B6B6;
    -o-box-shadow: 1px 3px 5px 1px #B6B6B6;

          .teacher-top {
              display: flex;
              align-items: center;
              height: 7.5rem;

            .teacher-basic-info{
              height: 100%;
              margin: 0.6rem;
              .teacher-title {
                  display: flex;
                  flex-direction: column;
              
                  .teacher-nation {
                    .teacher-nation-img {
                      width: 1.5rem;
                      height: 1.125rem;
                    }
                  }
              
                  .teacher-name {
                    font-weight: 700;
                    font-size:1rem;
                    margin-top: 3%
                  }
              
                  .teacher-rating {
                    display: flex;
                    margin-top: 10%;

                    .teacher-rating-img{
                    width: 0.85rem;
                    height:0.85rem;
                    
                    }
              
                    .teacher-rating-num {
                      margin-left: 0.2rem;
                      text-align: end;
                      font-size: 0.8rem;
              
                    }
              
                  }
              
                  .teacher-reserve-button {
                    display: flex;
                    justify-content: center;
                    
                    .btn-reserve {
                      width: 6rem;
                      height: 2.25rem;
                      font-size: 0.8rem;
                      background: linear-gradient(to bottom, rgba(26, 234, 234, 1) 0%, rgba(54, 82, 227, 1) 100%);
                      border: none;
                      color:#FFFFFF;
                    }
                  }
              
                }

            }
          
              
            }


    



  }
}