/* 480px 以下的樣式 */
@media screen and (max-width: 480px) {
  .home-page {
    .form {
      flex-direction: column-reverse;
    }
  }
}

/* 480px 到 1080px 之間的樣式 */
@media screen and (min-width: 481px) and (max-width: 1080px) {
  /* 在這裡添加 480px 到 1080px 之間的樣式 */
}

/* 1080px 以上的樣式 */
@media screen and (min-width: 1081px) {
  .home-page {
    height: 100%;
    .form {
      display: flex;
    }
  }
}