
@media screen and (max-width:480px) {
    .login-container {
            height: 100%;
        }
         .tooltip-box {
            position: absolute;
            padding: 5px;
            border-radius: 3px;
            z-index: 999;
            right: 8%;
            top: 15%;
            color: #dc3545;
            display: none;
                }
}

@media screen and (min-width: 481px) and (max-width: 1080px){
    .login-container {
            height: 100%;
        }
                .tooltip-box {
                    position: absolute;
                    padding: 5px;
                    border-radius: 3px;
                    z-index: 999;
                    right: 16%;
                    top: 15%;
                    color: #dc3545;
                    display: none;
                }

}

@media screen and (min-width:1081px){
    .login-container {

            height: 100%;
        }

            .email-tooltip-box,
            .pw-tooltip-box,
            .repw-tooltip-box {
                                             position: absolute;
                                             padding: 0.3125rem;
                                             border-radius: 0.3125rem;
                                             z-index: 999;
                                             right: 16%;                                             
                                             color: #dc3545;
                                             background-color:pink;
                                             box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                                            font-size: 0.75rem;
                                            align-items: center;
             }
}

.login_modal_content{
    .modal-header{
        border-bottom: 3px solid;

        .close-btn{
        &:hover {
         box-shadow: none ;
         text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        }
        }
    }
    .title{
        font-size: 20px;
        line-height: 30px;
    }

    .mb-10px {
        margin-bottom: 10px;
    }
    .mb-20px{
        margin-bottom: 20px;
    }
    /*modal-header*/
    .close-btn {
        border: 0px;
        background-color: white;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #3652E3;
        text-shadow: 0 1px 0 #fff;
    }
    .button-list{
        display:flex;
        justify-content: center;
        
    }
    .mode-btn{
        padding-top:4px;
        padding-left: 20px;
        padding-right: 20px;
        font-size:20px;
        position:relative;
        color:#9B9C9E;
        &:hover{
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                color: var(--main-blue);
        }
    }
    .mode-btn-1{
        padding-left: 20px;
        padding-right: 20px;
        font-size:20px;
        position:relative;
        color:#9B9C9E;
                &:hover {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color:var(--main-blue);
        }
    }
    .mode-btn-1::after{
        content:"";
        top:0px;
        right: 0px;
        height:40px;
        position: absolute;
        border-left: 1px solid black;
    }
    .mode-active{
        color:black;
        font-weight: 700;
    }
    .input-bar{
        display:flex;
    }
    .input-login-label{
        text-align:center;
        border:1px solid var(--main-blue);
        width:34%;
        color:#3652E3;
        border-right: 0px;
        border-top-right-radius: 0px 0px;
        border-bottom-right-radius: 0px 0px;

    }

    
    .is-wrong{
        background-image: none;
        border-right: 0px;
        border-top-right-radius: 0px 0px;
        border-bottom-right-radius: 0px 0px;
    }

    /*modal-body*/
    .input-login-right{
        border-top-left-radius: 0px 0px;
        border-bottom-left-radius: 0px 0px;
        border-left: 0px;
        border-color: var(--main-blue);
    }

    .button-container{
        justify-content: space-between;
    .btn {
        font-size: 0.875rem;
        width: 48%;
        padding:0.5rem 0;
        .icon{
        padding-right: 0.5rem;
        }
        }
    }

    /*modal-footer*/
    .modal-footer {
        border-top: 0px;
    }


}

