
.studentModal{

    .mb-20px{
        margin-bottom: 20px;
    }
    .flex-reverse{
        display: flex;
        flex-direction: row-reverse;
    }
    .modal-dialog{
        min-width: 300px;
    }
    .close-btn {
        border: 0px;
        background-color: white;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: black;
        text-shadow: 0 1px 0 #fff;
        transition: background-color 0.5s;
    }
    .close-btn:hover {
        color:#3652E3;
        border: 0px;
        animation: rotate 0.5s linear ;
    }
} 


@media screen and (max-width: 480px){
    .editStuModal_content{
        .edit-sm-container{
            display: flex;
            flex-direction:column;
            .w-sm-100{
                width:100%;
            }
        }
        .student_image_block{
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .editImage{
            width:166px;
            height:166px;
        }
    }
    .edit_container{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    .ratingStuModal_content{
        .rating-list{
            display: flex;
            flex-direction: column
        }
    }
}
@media screen and (min-width:481px) and (max-width: 581px){
    .editStuModal_content{
        .editImage{
            width:120px;
            height:120px;
        }
    }
    .edit_container{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    .ratingStuModal_content{
        .rating-list{
            display: flex;
            flex-direction: column
        }
    }
}
@media screen and (min-width:582px) and (max-width: 1080px){
    .edit_container{
        display:flex;
        flex-direction: row;
    }
    .editStuModal_content{
        .editImage{
            width:120px;
            height:120px;
        }
    }
}
@media screen and (min-width: 1081px){
    .edit_container{
        display:flex;
        flex-direction: row;
    }
    .student_image_block{

        padding: 0px 40px 0px 20px;
    }

    .ratingStuModal_content{
        .rating-list{
            display: flex;
            flex-direction: row;
        }
    }
    .editStuModal_content{
        .editImage{
            width:166px;
            height:166px;
        }
    }
}


.editStuModal_content{
    padding-left: 20px;
    padding-right: 20px;

    .title {
        font-size: 20px;
        line-height: 30px;
    }

    .mb-10px {
        margin-bottom: 10px;
    }

    /*modal-header*/


    /*modal-body*/
    .input-name {
        width: 100%;
    }

    .input-intro {
        width: 100%;
    }
    .input-imageurl{
        width:100%;
    }

    /*modal-footer*/
    .modal-footer {
        border-top: 0px;
    }
}

.ratingStuModal_content{
    padding-left: 20px;
    padding-right: 20px;
    .text-center{
        text-align: center;
    }
    .title {
        font-size: 20px;
        line-height: 30px;
    }

    .mb-10px {
        margin-bottom: 10px;
    }

    /*modal-header*/


    /*modal-body*/

    .form-check {
        padding-left: 0px;
        margin-right: 10px;
    }

    .items-center {
        align-items: center
    }

    input {
        margin-right: 5px;
        border-radius: 0px;
    }
    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        /* 設置正方形的寬度和高度 */
        height: 20px;
        border-radius: 0;
        /* 移除圓角 */
        border: 2px solid #3652E3;
        /* 設置邊框 */
        outline: none;
        /* 移除聚焦時的外框 */
        margin-right: 5px;
        /* 添加一些間距 */
        vertical-align: middle;
        /* 垂直居中 */
    }

    input[type="radio"]:checked {
        background-color: #3652E3;
        /* 添加背景顏色以表示選中狀態 */
    }

    .text-radio {
        font-size: 18px;
    }
    .modal-rating-toptitle{
        font-size: 30px;
    }
    .input-comment {
        width: 100%;
    }

    /*modal-footer*/
    .modal-footer {
        border-top: 0px;
    }
}
.go_classStuModal_content{
    padding-left: 20px;
    padding-right: 20px;

    .title {
        font-size: 20px;
        line-height: 30px;
    }

    .mb-10px {
        margin-bottom: 10px;
    }

    .mr-10px {
        margin-right: 10px;
    }

    /*modal-header*/


    /*modal-body*/
    .reserve-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .reserve-bar {
        width: 200px;
        display: flex;
        flex-direction: row;

        align-items: center;
    }

    .reserve-button-list {
        display: flex;
        justify-content: space-around;
    }

    .btn-decline-regisiter {
        width: 120px;
        height: 41px;
        background-color: #F43C2E;
        opacity: 70%;
        margin-right: 25px;
        transition: background-color 0.5s;
    }
    .btn-decline-register:hover{
        background-color: #F43C2E;
        opacity: 0.5;
    }

    .btn-goclass {
        width: 120px;
        height: 41px;
        background-image: linear-gradient(to bottom, #1cdeea, #345ce4);
    }

    .form-check {
        padding-left: 0px;
        margin-right: 10px;
    }

    .items-center {
        align-items: center
    }


    /*modal-footer*/
    .modal-footer {
        border-top: 0px;
    }
}