
.studentModal{

    .mb-20px{
        margin-bottom: 20px;
    }
    .flex-reverse{
        display: flex;
        flex-direction: row-reverse;
    }
    .modal-dialog{
        min-width: 300px;
    }
    
    .close-btn {
        border: 0px;
        background-color: white;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: black;
        text-shadow: 0 1px 0 #fff;
        transition: background-color 0.5s;
    }
    .close-btn:hover {
        color:#3652E3;
        border: 0px;
        animation: rotate 0.5s linear ;
    }
} 
.editStuModal_content{
   .modal-body{
    margin-top: 1rem;
   }
    .editImage-block{
        margin-bottom: 10px;
        width:166px;
        height:166px;
        overflow: hidden;
        position: relative;
    }
    .editImage{
        border-radius: 10px;
        width: 100%; 
        height: 100%; 
        max-width: none; 
        max-height: none;
        object-fit: cover; 
        object-position: center; 
        position: absolute; 
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
    }
    .change-pic{
        border: 1px solid var(--main-blue);
        color: var(--main-blue);
        font-weight: 700;
        border-radius: 0.625rem;
    }
    .modal-footer{
        margin-bottom: 1rem;
        .close,
        .save{
            border-radius: 0.625rem;
            width: 5rem;
        }
        .close{
            background-color: transparent;
            color: var(--main-blue);
            border: 1px solid var(--main-blue);
        }
        .save{
            background-color: var(--main-blue);
        }

    }
    .edit-name,
    .edit-intro{
    .title {
            font-weight: 700;
        }
    input,textarea{
        border: 1px solid var(--main-blue25);
        border-radius: 0.3125rem;
        padding: 0.5rem;
    }

    }


}

@media screen and (max-width: 480px){
    .editStuModal_content{
        .edit-sm-container{
            display: flex;
            flex-direction:column;
            .w-sm-100{
                width:100%;
            }
        }
        .student_image_block{
            align-items: center;
            display: flex;
            flex-direction: column;
            
        }
        .editImage-block{
            width:166px;
            height:166px;
            
        }
    }
    .edit_container{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
                .change-pic {
                    width: 100%;

                }
.ratingStuModal_content {
    .rating-list {
        display: flex;
        flex-wrap: wrap;
    }

    
}

}
@media screen and (min-width:481px) and (max-width: 1080px){
    .editStuModal_content{
        .editImage-block{
            width:120px;
            height:120px;
        }
    }
    .edit_container{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    .ratingStuModal_content{
        .rating-list{
            display: flex;
            flex-direction: column
        }
    }
}
@media screen and (min-width: 1081px){
    .edit_container{
        display:flex;
        flex-direction: row;
    }
    .student_image_block{

        padding: 0px 40px 0px 20px;
    }

    .ratingStuModal_content{
        .rating-list{
            display: flex;
            flex-direction: row;
        }
    }
    .editStuModal_content{
        .editImage-block{
            margin-bottom: 10px;
            width:166px;
            height:166px;
            overflow: hidden;
            position: relative;
        }
        .editImage{
            border-radius: 10px;
            width: 100%; 
            height: 100%; 
            max-width: none; 
            max-height: none;
            object-fit: cover; 
            object-position: center; 
            position: absolute; 
            top: 50%;
            left: 50%; 
            transform: translate(-50%, -50%);
        }
    }
}


.editStuModal_content{
    padding-left: 20px;
    padding-right: 20px;

    .title {
        font-size: 20px;
        line-height: 30px;
    }

    .mb-10px {
        margin-bottom: 10px;
    }
    .input-name {
        width: 100%;
    }

    .input-intro {
        width: 100%;
    }
    .input-imageurl{
        width:100%;
    }

    /*modal-footer*/
    .modal-footer {
        border-top: 0px;
    }
}

.ratingStuModal_content{
    .modal-rating{
        width: 90%;
    }
    .modal-rating-container{
        margin-top: 0.5rem;
    }
    .modal-comment-container{
        margin-top: 1.5rem;
    }

    .text-center{
        text-align: center;
    }
    .title {
        font-size: 1.25rem;
        line-height: 30px;
        font-weight: 700;
    }

    .mb-10px {
        margin-bottom: 10px;
    }
    .form-check {   
        margin-right: 10px;
    }

    .items-center {
        align-items: center
    }

    input {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.3125rem;
        border: 2px solid var(--main-blue) ;
        outline: none;
        margin-right: 5px;
        vertical-align: middle;
    }

    input:checked[type="checkbox"] {
        background-color: #3652E3;
    }

    .text-radio {
        font-size: 18px;
    }
    .modal-rating-toptitle{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .input-comment {
        width: 100%;
    }
    textarea{
        border: 1px solid var(--main-blue25);
        border-radius: 0.625rem;
    }
    .buttons-container {
        margin:2rem 0 1rem 0;
        justify-content: flex-end;
        .cancel,
        .check{
            border-radius: 0.625rem;
            width: 5rem;
            font-weight: 700;
        }
        .cancel{
            margin-right: 0.5rem;
            background-color: transparent;
            border:1px solid var(--main-blue);
            color: var(--main-blue);
        }
        .check{
            background-color: var(--main-blue);
            border: none;
        }
    }
}
.go_classStuModal_content{
    padding-left: 20px;
    padding-right: 20px;
    .modal-body{
        margin-bottom: 2rem;
    }
    .title {
        font-size: 20px;
        line-height: 30px;
    }

    .mb-10px {
        margin-bottom: 10px;
    }

    .mr-10px {
        margin-right: 10px;
    }

    .reserve-contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .reserve-bar {
        width: 200px;
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        align-items: center;
        font-size: 1rem;
    }

    .reserve-button-list {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        width: 100%;
    }
    .btn-decline-regisiter,
    .btn-goclass{
    width: 45%;
    height: 2.8rem;
    border: none;
    border-radius: 0.625rem;
    font-weight: 700;
    font-size: 1.125rem;
    color: white;
    }

    .btn-decline-regisiter {
        background-color: #F43C2E;
        opacity: 70%;
        transition: background-color 0.5s;
    }
    .btn-decline-register:hover{
        background-color: #F43C2E;
        opacity: 0.5;
    }

    .btn-goclass {
        background-image: linear-gradient(to bottom, #1cdeea, #345ce4);
    }

    .form-check {
        padding-left: 0px;
        margin-right: 10px;
    }

    .items-center {
        align-items: center
    }
    .modal-footer {
        border-top: 0px;
        
    }
}