/*Apply Navbar*/
.Navtop{
    .dropdown-item{
        text-align: center;
    }
    // .dropdown-item:hover{
    //     color:#3652E3;
    // }
    .dropdown{
        .dropdown-toggle{
            position:relative;
            width: 30px;
            height: 30px;
            overflow: hidden;
            border-radius: 15px;
        }
    }
}
@media screen and (max-width:480px){
.searchbar-out{
    padding-right:28px;
    padding-left:28px;
    width:100%;
    .navbar-search{
        position: relative;
        margin-bottom:20px;
    }

    .search-icon{
        position: absolute;
        right: 13px;
        top: 7px;
        display: block;
        justify-content: center;
        align-items: center;
        width: 20px;
        margin-bottom: 0;
        transition: stroke 0.4s linear;
        cursor: pointer;
    }
}

    .navbar-right{
            .navbar-search{
                display: none;
            }
    }


}

@media screen and (min-width: 481px) and (max-width: 1080px) {
    .Navtop {
        .navbar-container {
                padding: 0.5rem 3.75rem 0.5rem 3.75rem;
            }
}
    .searchbar-out{
        display:none;
    }
                .item-mb-only {
                    display: none;
                }
}

@media screen and (min-width:1081px) {
    .Navtop {
        .navbar-container {
                padding: 0.5rem 3.75rem 0.5rem 3.75rem;
            }
    }
    .searchbar-out{
        display:none;
    }
    .item-mb-only{
        display: none;
    }
}

.apply-Nav{

    .topbar{
        padding: 0px 5px 0px 5px;
        display: flex;
        flex-direction: row-reverse;
        align-items:center;
        border:1px solid #3652E3;
        height:58px;
        border-right: 0px;
        border-left: 0px;
        margin-bottom: 20px;
        text-decoration: none;
        
    }
}
/**/
.Navtop {
     display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(54, 82, 227, 0.25);
    margin-bottom: 2rem;
.navbar-container{
    justify-content: space-between;
}
    .items-center {
        align-items: center;
    }

    .logo-img {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .nav-link {
        color: #B6B6B6;
        padding: 0px;
        font-weight: 700;

    }

    .nav-link:hover {
        color: black;
    }
    .navbar-search{
        position: relative;

    }


    .apply-link{
        text-align: center;
    }

    .headshot {
        width: 36px;
        height: 36px;
        border-radius: 18px;
    }

    .apply-link {
        text-decoration: none;
        color: black;
    }
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    .navbar-search{
        margin-right:1rem;
    }
    .navbar-login{
        font-weight: 700;
        border-radius: 0.625rem;
        width: 7rem;
    }
    .search-icon{
        position: absolute;
        right: 13px;
        top: 7px;
        display: block;
        justify-content: center;
        align-items: center;
        width: 20px;
        margin-bottom: 0;
        
        transition: stroke 0.4s linear;
        cursor: pointer;
    }
    .search-stroke{
        stroke:#B6B6B6;
    }
    .search-stroke:hover{
        stroke:#3652E3;
    }

    .avatar-img{
        width: 100%; 
        height: 100%;  
        max-width: none; 
        max-height: none;
        object-fit: cover; 
        object-position: center; 
        position: absolute; 
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%); 
    }
}

.NavCollapse {
    display: flex;
    justify-content: space-between;
}