.Navtop{
    padding: 16px 7vh 16px 7vh;
    margin-bottom:3px;
    display:flex;
    justify-content: space-between;
    background-color: white;
    .mr-10px{
    margin-right:10px;
    }
    .nav-link{
        color: #b6b6b6;
    }
    .headshot{
        width: 36px;
        height:36px;
        border-radius: 18px;
    }
}

.navbar-right{
    display: flex;
    flex-direction: row;
    
    .navbar-search{
        margin-right:15px;
    }
}
.NavCollapse{
    display:flex;
    justify-content: space-between;
}


