/*Apply Navbar*/
@media screen and (max-width:480px){
.Navtop{
.navbar-container {
    padding: 2rem 1rem 0 1rem;
    }
    }
    .navbar-right{
        .navbar-search{
            display: none;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1080px) {
    .Navtop {
        .navbar-container {
                padding: 0.5rem 3.75rem 0.5rem 3.75rem;
            }
}
}

@media screen and (min-width:1081px) {
    .Navtop {
        .navbar-container {
                padding: 0.5rem 3.75rem 0.5rem 3.75rem;
            }
    }
}

.apply-Nav{
    .topbar{
        border:1px solid #3652E3;
        border-right: 0px;
        border-left: 0px;
    }
}
/**/
.Navtop {
     display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(54, 82, 227, 0.25);
    margin-bottom: 2rem;
.navbar-container{
    justify-content: space-between;
}
    .items-center {
        align-items: center;
    }

    .logo-img {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .nav-link {
        color: #B6B6B6;
        padding: 0px;
    }

    .nav-link:hover {
        color: black;
    }
    .navbar-search{
        position: relative;

    }


    .apply-link{
        text-align: center;
    }

    .headshot {
        width: 36px;
        height: 36px;
        border-radius: 18px;
    }

    .apply-link {
        text-decoration: none;
        color: black;
    }
}

.navbar-right {
    display: flex;
    flex-direction: row;
    
    .navbar-search{
        margin-right:2vh;
    }
    .search-icon{
        position: absolute;
        right: 13px;
        top: 7px;
        display: block;
        justify-content: center;
        align-items: center;
        width: 20px;
        margin-bottom: 0;
        
        transition: stroke 0.4s linear;
        cursor: pointer;
    }
    .search-stroke{
        stroke:#B6B6B6;
    }
    .search-stroke:hover{
        stroke:#3652E3;
    }
    .avatar-block{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right:2vh;
    }
    .avatar-img{
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
}

.NavCollapse {
    display: flex;
    justify-content: space-between;
}