@media screen and (max-width: 480px){
.reserve-modal {
    width: 80%;
    .rbc-allday-cell{
      .rbc-row-bg{
        max-height: 5rem;
      }
      .rbc-row-content{
        .rbc-event{
          width: 100%;
          .rbc-event-content{
            .not-reserved,
            .reserved{
              font-size: 0.6rem;
              height: 1rem;
            }
            
          }
        }
        .rbc-event.rbc-selected{
          width: 88%;
        }
      }
    }
    .select-submit{
      .select-item{
        .select-name,
        .select-time{
          width: 40%;
        }
      }
      .btn-submit{
        width: 100%;
        .submit{
          width: 100%;
        }
    
      }
    }

  }
}

@media screen and (min-width: 481px) and (max-width: 1080px) {
  .reserve-modal {
    width: 80%;

    .rbc-allday-cell {
      .rbc-row-bg {
        max-height: 5rem;
      }

      .rbc-row-content {
        .rbc-event {
          width: 100%;

          .rbc-event-content {

            .not-reserved,
            .reserved {
              font-size: 0.75rem;
              height: 1.2rem;
            }

          }
        }

        .rbc-event.rbc-selected {
          width: 88%;
        }
      }
    }

    .select-submit {
      .select-item {

        .select-name,
        .select-time {
          width: 40%;
        }
      }

      .btn-submit {
        width: 100%;

        .submit {
          width: 100%;
        }

      }
    }

  }
}

@media screen and (min-width: 1081px) {
  .reserve-modal {
    width: 100%;

    .rbc-allday-cell {
      .rbc-row-bg {
        max-height: 5rem;
      }

      .rbc-row-content {
        .rbc-event {
          width: 100%;

          .rbc-event-content {

            .not-reserved,
            .reserved {
              font-size: 0.75rem;
              height: 1.2rem;
            }

          }
        }

        .rbc-event.rbc-selected {
          width: 88%;
        }
      }
    }

    .select-submit {
      .select-item {

        .select-name,
        .select-time {
          min-width: 35%;
        }
      }

      .btn-submit {
        width: 100%;

        .submit {
          width: 100%;
        }

      }
    }

  }
}