@media screen and (min-width: 481px) and (max-width: 1080px){
  .reserve-modal {
      .modal-body {
        margin: 0 1.5rem 1rem 1.5rem;
      }
    }
}

@media screen and (min-width: 1081px) {
.reserve-modal{
  .modal-body{
    margin:0 1.5rem 1rem 1.5rem;
  }
}
}
.rbc-calendar{
  width: 100%;
  min-height: 10rem;
  .rbc-time-header-content{
    background-color: var(--main-blue);
    border-radius: 0.625rem;
    .rbc-row{
      .rbc-header{
      border-radius: 0.625rem 0.625rem 0 0 ;
      background-color: var(--main-blue);
      color: var(--white);
      padding: 0.6rem 0 0.6rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      .rbc-row-segment{
        margin-top: 0.5rem;
        .rbc-event,
        .rbc-event &.rbc-selected{
          height: 1.5rem;
        }
      }
     
    }
  }

}

.rbc-toolbar {
  padding: 1.5rem 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: normal;

  .rbc-toolbar-top {
    display: flex;
    justify-content: space-between;
    .rbc-btn-group-month {
      margin-right: 0.6rem;
      select{
        width: 7.8rem;
        text-align: center;
        color: var(--main-blue);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        background-color: transparent;
        border: none;
        option{
          background-color: var(--white);
          color: black;
        }
      }

    }

    .rbc-btn-group-year {
       select {
          color: var(--main-blue);
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          background-color: transparent;
          border: none;
        option {
            background-color: var(--white);
            color: black;
          }
        }
        
      }

  }

  .control-states {
    margin-top: 1rem;
    .week-control {
      .rbc-btn-group-year {
      .year-control {
          border: none;
          }
        }
      }
    }

  .reserve {
    display: flex;
    align-items: end;
    background-color: transparent;
  }

  .reserve span {
    position: relative;
    padding-left: 1rem;
  }

  .reserve span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    /* 调整根据需要的圆形大小 */
    height: 20px;
    /* 调整根据需要的圆形大小 */
    border-radius: 50%;
  }

  .reserve span:first-child::before {
    background-color: var(--white);
    border: 0.1rem solid var(--main-blue);
  }

  .reserve span:last-child::before {
    background-color: var(--grey-300);
  }


}


.rbc-time-view{
  .rbc-time-header{
    min-height: 12rem;
    .rbc-label{
      display: none;
    }
  }
  .rbc-time-content{
    display: none;
  }
}

.rbc-month-view .rbc-row{


  .rbc-month-header {
    background-color: var(--main-blue);
    color: var(--white);
    height: 2rem;
    font-size: 12px;
    align-items: center;

    .rbc-header {
      border: none;
    }

  }

}

.rbc-event.rbc-selected {
      background-color: var(--main-blue25);
      padding: 0;
  }

.rbc-event {
  background-color: transparent;



  .rbc-event-content {
    text-align: center;
    width:100%;
    .reserved {
      border: none;
      background-color: var(--grey-300);
      color: var(--white);
      width: 100%;
      border-radius: 0.3125rem;
      height: 1.5rem;
      font-size: 0.85rem;
    }

    .not-reserved {
      border: 1px solid var(--main-blue);
      background-color: transparent;
      color: var(--main-blue);
      border-radius: 0.3125rem;
      height: 1.5rem;
      width: 100%;
      font-size: 0.85rem;
      font-weight: 700;
    }
  }

}

.rbc-allday-cell {
  height: 12rem !important;
  .rbc-row-bg {
      min-height: 12rem;
      border-radius: 0 0 0.625rem 0.625rem;
    .rbc-day-bg {
      border: 1px solid var(--main-blue25);
      background-color: white;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      .create-course {
        margin: 0 0.5rem 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        width: 0.5rem;
        height: 1rem;
        z-index: 10;
        cursor: pointer;
        color: var(--white);
        background-color: var(--main-blue);
        border: none;
        border-radius: 0.125rem;
      }

    }

  }
}