.student_Profile_Page{
    position: relative;
    .toast{
        position: absolute;
        bottom: 80px;
        right:80px;
        width: 250px;
        .toast-body{
            background-color:rgb(222,223,223);
            color:#3652E3;
        }
    }

}
.student_Course_Page{
    position: relative;
    
    .toast{
        position: absolute;
        bottom: 80px;
        right:80px;
        width: 250px;
        .toast-body{
            color:#3652E3;
            background-color:rgb(222,223,223);
        }
    }

}

.Profile_container_stu{
    padding: 20px 7vh 30px 7vh;
    background-color:white;
    position:relative;


    .absent{
        background-color: #f9d2cf;;
    }
    .finish{
        background-color:#e8e9f4;
    }
    .notreview{
        background-color: #f6f6f6;
    }
    .reserve{
        background-color: #c2cbf7;
    }
    .bg-deep{
        background-color: #D7D7D7;
    }
    .bg-absent{
       background-color: #F43C2E; 
    }
    .bg-not-review{
        background-color: #e1e1e1;
        cursor: pointer;
    }
    .bg-finish{
        background-color: #3652E3;
        opacity: 25%;
    }
    .bg-reserve{
        background-color: #3652E3;
        transition: background-color 0.3s;
        cursor: pointer;
    }
    .bg-reserve:hover{
        background-color: #3652E3;
        opacity: 70%;
    }
    .bg-not-review:hover{
        background-color: #e1e1e1;
        opacity: 30%;
    }
}


.left-profile-stu-container{
    padding:20px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2px #000000;
    border-radius: 15px;
    box-shadow: 16px 16px 40px #C7C7C7;
    .text-title{
        font-size:18px;
        line-height:22px;
        font-weight: 500;
    }
    .img-profile-container{
        margin-bottom: 10px;
        border-radius: 10px;
        width:200px;
        height:200px;
        overflow: hidden;
        position: relative;
    }
    .img-profile{
        
        width: 100%; 
        height: 100%; 
        max-width: none; 
        max-height: none;
        object-fit: cover; 
        object-position: center; 
        position: absolute; 
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%); 

    }
    .mb-10px{
        margin-bottom:10px;
    }
    .mb-20px{
        margin-bottom: 20px;
    }
    .mb-40px{
        margin-bottom: 40px;
    }
    .rank-block{
        margin-bottom:20px;
        display:flex;
        justify-content: space-around;
        border:1px solid #3652E3;
        border-radius:15px;
        padding: 5px 10px 5px 10px;
    }
    .w-100{
        width:100%;
    }
}
.img-lesson{
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.info-title{
    margin-bottom: 10px;
}
/* Right Profile Container */
.right-profile-stu-container{
    padding: 0px 0px 30px 0px;
    .text-title{
        font-size:18px;
        line-height:22px;
        font-weight: 500;
    }
    .mb-10px{
        margin-bottom:10px;
    }
    .mb-20px{
        margin-bottom: 20px;
    }
    .mb-40px{
        margin-bottom: 40px;
    }
    .mr-10px{
        margin-right: 10px;
    }
    .justify-between{
        justify-content: space-between;
    }
    .flex-column{
        flex-direction: column;
    }
    .flex-reverse{
        flex-direction: row-reverse;
    }
    .items-center{
        align-items: center;
    }
    .circle-icon{
       width: 20px;
       height: 20px;
       border-radius: 10px;
    }
    .bg-o-not-l{
        background-color: #3652E3;
    }
    .bg-not-seat{
        background-color: #F43C2E
    }
    .bg-no-dis{
        background-color:#FFFFFF;
        border: 1px solid #3652E3;
    }   
    .bg-finsh{
        background-color: #3652E3;
        opacity: 25%;
    }
    .items-center{
        align-items:center;
    }
    .rotate-arrow{
        transform: rotate(180deg);
    }
    .text-primary{
        font-size:18px;
        line-height:22px;
        color:#3652E3;
    }
}
/* Calender Part*/

@media screen and (max-width: 582px){
    .col-sm-12{
        width:100%;
    }
    .Profile_container_stu{
        .col-sm-none{
            display:none;
        }
    }


}
@media screen and (min-width:481px) and (max-width: 1080px){

}

