.Course_container_stu{
    .absent{
        background-color: #f9d2cf;;
    }
    .finish{
        background-color:#aeb6da;
    }
    .notreview{
        background-color: #f6f6f6;
    }
    .reserve{
        background-color: #c2cbf7;
    }
    .bg-deep{
        background-color: #D7D7D7;
    }
    .bg-absent{
       background-color: #F43C2E; 
    }
    .bg-not-review{
        background-color: #e1e1e1;
        cursor: pointer;
    }
    .bg-finish{
        background-color:#aeb6da;
    }
    .bg-reserve{
        background-color: #3652E3;
        transition: background-color 0.3s;
        cursor: pointer;
    }
    .bg-reserve:hover{
        background-color: #3652E3;
        opacity: 70%;
    }
    .bg-not-review:hover{
        background-color: #e1e1e1;
        opacity: 30%;
    }

}

@media screen and (max-width: 590px){
    .Course_container_stu{
        min-width: 300px;
        padding: 20px 20px 30px 20px;
        background-color:white;
        position:relative;
        .display-none{
            display:none;
        }
        .block-week{
            text-align: center;
            color:white;
            font-size:12px;
            padding:2px;
            
        }
        .calender_block{
            border:1px solid #3652E3;
            padding:5px;
            text-align:right;
            min-height:60px;
        }
        .calender_table{
            border:1px solid #3652E3;
        }
        .course-block{
            font-size:12px;
            color:white;
            margin-bottom: 3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            padding:8px 3px 0px 3px;
            
            
        }
        .title-bar{
            opacity: 70%;
            text-align: center;
            width: 100%;
            border-radius: 3px;
            color: black;
    
        }
    
    
        .btn-more{
            width: 100%;
            height: 20px;
            font-size:15px;
            background-color: white;
            text-align: left;
            border: 0px;
        }
    }

}
/* Left Profile Container*/
@media screen and (min-width: 481px) and (max-width: 1080px){
    .Course_container_stu{
        padding: 20px 7vh 30px 7vh;
        background-color:white;
        position:relative;
    }
    .block-week{
        text-align: center;
        color:white;
        font-size:12px;
        padding:10px;
        
    }
    .calender_block{
        border:1px solid #3652E3;
        padding:3px;
        text-align:right;
        min-height:120px;
    }
    .calender_table{
        border:1px solid #3652E3;
    }
    .course-block{
        font-size:12px;
        color:white;
        margin-bottom: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        padding:8px 3px 0px 3px;
        
    }
    .title-bar{
        opacity: 70%;
        text-align: center;
        width: 100%;
        border-radius: 3px;
        color: black;

    }

    .btn-more{
        width: 100%;
        height: 20px;
        font-size:15px;
        background-color: white;
        text-align: left;
        border: 0px;
    }
}
@media screen and (min-width: 1081px){
    .Course_container_stu{
        padding: 20px 7vh 30px 7vh;
        background-color:white;
        position:relative;
    }
    .block-week{
        text-align: center;
        color:white;
        font-size:12px;
        padding:10px;
        
    }
    .calender_block{
        border:1px solid #3652E3;
        padding:5px;
        text-align:right;
        min-height:120px;
    }
    .calender_table{
        border:1px solid #3652E3;
    }
    .course-block{
        font-size:12px;
        color:white;
        margin-bottom: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        padding:8px 3px 0px 3px;
        
        
    }
    .title-bar{
        opacity: 70%;
        text-align: center;
        width: 100%;
        border-radius: 3px;
        color: black;
    }
    .btn-more{
        width: 100%;
        height: 20px;
        font-size:15px;
        background-color: white;
        text-align: left;
        border: 0px;
    }
}