.rbc-calendar{
  border: none;
}

.rbc-toolbar{
  
  display: flex;
  flex-direction:column;

  .rbc-toolbar-top{
    display: flex;
    justify-content: flex-end;

    .rbc-btn-group-month-option{
      color: var(--main-blue);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;


    }

    .rbc-btn-group-year {

        .year-control {
          border: 0;
        }
    
        .year {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */
          color:var(--main-blue);
          /* Inside auto layout */
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }

  }
  
  .reserve {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
}

.reserve span {
  position: relative;
  padding-left: 1rem;
}

.reserve span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.reserve span:first-child::before {
  background-color: var(--main-blue25);
  border: 0.1rem solid var(--main-blue25);
}

.reserve span:last-child::before {
  background-color: var(--grey-300);
}


}

.rbc-time-view{
  border: none;
}

.rbc-time-header-content{
  .rbc-row{
    .rbc-header{
      border: none;
    }
  }
  .rbc-allday-cell{
    .rbc-row-bg{
      height: 8rem;
      
      .rbc-day-bg{        
      position: relative;
      border: 0.05rem solid var(--main-blue25);
        &::after {
        content: attr(data-date);            
        z-index: 2;
            position: absolute;
            top: 0.2rem;
            right: 0.6rem;
            font-size: 12px;
            color: black;
          }
      }
    }
  }
}


  .rbc-event.rbc-selected{
      background-color:var(--main-blue25) !important;
      width: 92%;
      margin: 0 0.2rem 0 0.3rem;
  }

  .rbc-event-content{
      text-align: center;
      width: 100%;
      font-size: 1rem;
      margin-top: 1rem;
      .reserved {
        border: none;
          background-color:var(--grey-300);
          color: var(--white);
          border-radius: 0.3125rem;
          &:hover{
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          }
        }
      .not-reserved{
         border: none !important;
         background-color: var(--main-blue25) !important;
         color: var(--main-blue);
         border-radius: 0.3125rem;
          &:hover {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
      }
  }


