.div-container{
  display: flex;
  .form-left{
    width: 63rem;
    .card-container {
        margin: 4rem;
        display: flex;
        flex-direction:column;
           
        .self-card-container {
          display: flex;
          height: 12rem;
          width: 55rem;
          border-radius: 0.625rem;
          box-shadow: 1px 3px 5px 1px var(--grey-light);
            -webkit-box-shadow: 1px 3px 5px 1px var(--main-blue25);
            -moz-box-shadow: 1px 3px 5px 1px var(--grey-light);
            -o-box-shadow: 1px 3px 5px 1px var(--grey-light);
          .self-card-img{
            height: 9.7rem;
            width: 9.7rem;
            margin: 1rem 2rem 1rem 1rem;
          }
          .self-info-container{
            margin: 1rem 0 1rem 0;
            display: flex;
            flex-direction:column;
          .self-name-nation-container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .self-nation{
              display: flex;
              .self-name{
                padding-left: 0.5rem;
                padding-top: 0.5rem;
                font-weight: 700;
              }
            }
          }
          .self-category-container {
            .self-category{
              display: flex;
              .self-teacher-item{
              padding: 0 0.268rem 0 0.268rem;
              margin: 0 0.268rem 0.268rem 0;
              border-radius: 3px;
              background-color: var(--main-blue25);
              font-size: 0.8rem;
              font-weight: 600;
              }
            }
           }
          }

        }
    .introduction-container{
      margin:2rem 0 2rem 0;
      width: 55rem;
      border: none;
      .self-introduction{
        padding: 0.5rem 0 0.5rem 0.5rem;
        .self-introduction-title{
          position: relative;
          height: 1.5rem;
          display: flex;
          justify-content: space-between;
          &::after{
            content: '';
            position: absolute;
            width: 55rem;
            background-color: var(--main-blue);
            height: 0.2rem;
            top:1.5rem;
            right: 0rem;
          }
          .title{
          font-weight: 700;
          font-size: 1rem;
          }

        }
      .self-info-description{
        margin-top: 1rem;
        font-size: 0.8rem;
      }
      }
    }
    .teacherstyle-container{
      width: 55rem;
      margin: 0 0 2rem 0;
      .self-teaching-style{
        padding: 0.5rem 0 0.5rem 0.5rem;
        .self-teaching-style-title{
          position: relative;
          height: 1.5rem;
          display: flex;
          justify-content: space-between;
          &::after {
              content: '';
              position: absolute;
              width: 55rem;
              background-color: var(--main-blue);
              height: 0.2rem;
              top: 1.5rem;
              right: 0rem;
            }
          .title{
          font-weight: 700;
          font-size: 1rem;
          }
        }

      .self-teaching-style-description{
        margin-top: 1rem;
        font-size: 0.8rem;
        }
      }
    
    }
    .classtime-container{
      width: 55rem;
      margin: 0 0 2rem 0;
      .self-class-time{
      padding: 0.5rem 0 0.5rem 0.5rem;
        .self-class-time-title{
          position: relative;
          height: 1.5rem;
          display: flex;
          justify-content: space-between;
          &::after {
              content: '';
              position: absolute;
              width: 55rem;
              background-color: var(--main-blue);
              height: 0.2rem;
              top: 1.5rem;
              right: 0rem;
            }
          .title{
          font-weight: 700;
          font-size: 1rem;
          }
        }
     .self-class-time-calendar{
      margin-top:2rem;
      width: 20rem;
     }
      }
    }

        .notice-container {
          width: 55rem;
          margin: 0 0 0.5rem 0;
          .teacher-notice {
            padding: 0.5rem 0 0.5rem 0.5rem;
            .teacher-notice-title{
            position: relative;
          height: 1.5rem;
          display: flex;
          justify-content: space-between;
          &::after {
              content: '';
              position: absolute;
              width: 55rem;
              background-color: var(--main-blue);
              height: 0.2rem;
              top: 1.5rem;
              right: 0rem;
            }
          .title{
          font-weight: 700;
          font-size: 1rem;
          }              
        }

            .teacher-notice-description{
            margin: 1rem 0 0 -1.8rem;
            font-size: 0.8rem;
            .teacher-notice-description-item{
            .item{
            list-style-type: disc;
            margin-left: -0.8rem;
            }
            
            }
            }
          }
        }
    }
   }




   .form-right{
    width: 33.3rem;

    
    .class-reserve{
      width: 100%;
      margin: 4rem 0 2rem -1rem;
      .calendar{
        width: 18rem;
      }
      .timepicker{
        margin-top: 1rem;
        width: 18rem;
      }
      .select-option{
        margin-top: 1rem;
        width: 18rem;
      }
      .btn-submit{
        .submit{
          margin-top: 1rem;
          width: 18rem;
          background: linear-gradient(to bottom, rgba(26, 234, 234, 1) 0%, rgba(54, 82, 227, 1) 100%);
          font-size: 0.8rem;
          color:white;
        }
      }
    }
    .self-comment{
      width: 18rem;
      margin: 0 0 2rem -1rem;
      .self-comment-title-rating{
        display: flex;
        .self-comment-title{
          font-size: 1rem;
          font-weight: 900;
        }
        .rating-img{
          margin: 0 0.9rem 1rem 0.9rem;

        }
        .title{
          font-size: 0.8rem;
          margin: 0.05rem 0 0 0;
        }
      }

      .class-comment-info{
        display: flex; 
        flex-direction:column;
        width:100%;
        .class-comment-info-card{
        margin: 1rem 0 0 0;
        .class-comment-info-card-body{
          .card-container{
            display: flex;
            .card-img{
              width: 3.75rem;
              height: 2.5rem;
              .class-comment{
                border-radius: 50%;
                height: 2.5rem;
                width: 2.5rem;
              }
            }
            .card-title{
              margin:0 1.5rem 0.3rem 0;
              .title{
                font-size: 1rem;
                font-weight: 700;
              }
              .date{
                font-size: 0.7rem;
                font-weight: 400;
              }
            }
            .card-rating{
             
              display: flex;
              
              .rating{
                height: 0.7rem;
                width: 0.7rem;
              }
              .rating-num{
                font-size: 0.7rem;
                margin-left: 0.2rem;
              }

            }
          }

        .card-description{
        .class-comment-description{
          font-size: 0.8rem;
          }
        }

        }
        }
      }

      .card-link{
        margin-top: 1rem;
        width: 18rem;
        .link{
          width: 18rem;
          font-size:0.8rem;
          border-color: var(--main-blue);
          color: var(--main-blue);
        }
      }
    }

   }
}


